# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
airflow_venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# Airflow
airflow.cfg
airflow.db
airflow-webserver.pid
logs/

# Generated data
data/*.csv

# dbt artifacts
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/.user.yml

# Python tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS / editor files
.DS_Store
.vscode/
.idea/

# Local databases
*.db
*.sqlite
*.sqlite3
